html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: normal;
    /*background: var(--surface-ground);*/
    /*color: var(--text-color);*/
    /* padding: 1rem; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
}

.p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: #008ceb !important;
}

.p-menuitem-text .p-menuitem-icon {
    color: #fff !important;
}

.navbar{
    height: 55px;
    background-color: transparent;
    position: relative;
    display: flex;
    /* text-align: center; */
    align-items: center;
    z-index: 2;
    /*background: linear-gradient(0deg, #F2F2F2 80%, transparent);*/


}

.logo-container{
    display: flex;
    margin-left: 20px;
    /* text-align: center; */
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    
}

.logo-container span{
    padding: 0;
    margin: 0; 
    /*color: white;*/
    /*background-image: radial-gradient( circle 325px at 19.2% 64.8%,  rgba(254,62,101,1) 9.7%, rgba(166,24,146,1) 91.3% );*/
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none !important;
    cursor: pointer;
}

.p-fileupload{
    width: 30%;
    
}

.upoader-header span{
    font-weight: 500;
}

.file-name{
    font-weight: 500;
}

.empty-container{
    font-weight: 500;
}

.custom-cancel-btn {
    display: none !important;
}