html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: normal;
    /*background: var(--surface-ground);*/
    /*color: var(--text-color);*/
    /* padding: 1rem; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
}

.p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: #008ceb !important;
}

.p-menuitem-text .p-menuitem-icon {
    color: #fff !important;
}